
obfuscated_picture/rangement/000b5840.jpg
obfuscated_picture/rangement/000b5840.zip
obfuscated_picture/rangement/encoded.jpg
obfuscated_picture/rangement/encryption_pic.jpg
obfuscated_picture/rangement/flag.bin
obfuscated_picture/rangement/flag.txt
obfuscated_picture/rangement/flag.zip
obfuscated_picture/rangement/js.js
obfuscated_picture/rangement/pass.xz
obfuscated_picture/rangement/pass_archive.txt
obfuscated_picture/rangement/troll.js
obfuscated_picture/rangement/WannaCry.zip
